html {
    background-color: #470303;
}

#form {
    background-color: #ff00d4;
    padding: 20px;
    border-radius: 4px;
    max-width: 425px;
    height: 100%;
}

.btn {
    cursor: pointer;
}

td:hover {
    cursor: pointer;
}

table {
    margin: 0 auto;
    border-radius: 5px;
}

.btn::after {
    border-color: transparent transparent #00d1b2 #7c0272!important;
}

@media screen and (min-width: 426px) {
    #form {
        height: auto;
        margin: 2em auto;
    }
}
